<div class="container">
  <div class="header-container">
    <h1>
      Dollar<br />
      checker
    </h1>
    <p>
      Tipos de cambio de las fuentes más confiables de Perú, que proporcionan
      datos fiables para la compra y venta de dólares.
    </p>
  </div>
</div>

<div class="container">
  <div class="price-wrapper">
    <price-card
      url="https://www.rextie.com/"
      title="Rextie"
      [exchange]="rextie"
    />
    <price-card
      url="https://kambista.com/"
      title="Kambista"
      [exchange]="kambista"
    />
    <price-card
      url="https://tkambio.com/"
      title="Tkambio"
      [exchange]="tkambio"
    />
    <price-card
      url="https://e-consulta.sunat.gob.pe/cl-at-ittipcam/tcS01Alias"
      title="Sunat"
      [exchange]="sunat"
    />
  </div>
</div>
